.selectedfilterstyle {
    border-radius: 4px;
    margin: 0px auto;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

/* css for the main home screen display of our app */
#Maindisplay {
    display: flex;
}

@media only screen and (max-width: 600px) {
    #Maindisplay {
        flex-direction: column;
    }
}

/* for the traingle icon */
#dropdownicon {
    cursor: pointer;
}

/* css for the other color options that would appear in the drop down menu */
#otheroptionsbox {
    position: absolute;
    /* border: solid 3px red; */
    top: 610px;
    right: 175px;
    width: fit-content;
    margin: 0px auto;
    /* border: solid 3px rgb(0, 0, 0); */

}

.other-option-show {
    border: solid 2px black;
    border-radius: 3px;
    width: 150px;
    margin: 0px auto;
}

.other-option-hide {
    display: none;
}

#name {
    border: solid 2px rgb(140, 138, 138);
    padding: 0px 5px;
    border-radius: 4px;
}

#otheroptionsbox div:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

/* css for the submit button */
#submitbutton {
    position: absolute;
    bottom: 50px;
    right: 94px;
}

#checkbutton {
    /* border: solid 2px green; */
    position: absolute;
    top: 640px;
    right: 312px;
}

/* css for the cross icon in buttoncontainer.js*/
#crossicon {
    /* border: solid 2px black; */
    /* position: absolute;
    top: 112px;
    right: 465px; */
    transition: all 0.3s ease-in-out 0.1s;
}

#crossicon:hover {
    transform: scale(1.2);
}

/* css for the update and delete buttons in UserEnteries.js */
.dandu:hover {
    color: #d5cfcf;
    cursor: pointer;
    opacity: 0.5;
}

/* css for designing the scroll bar inside the cardboxes */
/* width */
.scroller-design::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scroller-design::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
.scroller-design::-webkit-scrollbar-thumb {
    background: rgb(198 191 191);
    border-radius: 5px;
}

/* Handle on hover */
.scroller-design::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* css for displaying alternate image when network fails */
#alternateimage {
    background: url('/public/noimagefound.jpg') no-repeat center center/cover;
    width: 288px;
    height: 260px;
} 